{% extends 'LostThingsMainBundle::layout.html.twig' %}

{% block body %}
    <a href="{{ path('find') }}">I'm find</a>
    <a href="{{ url('lost') }}">I'm lost</a>
    <a href="{{ url('fos_user_security_login') }}">Log in</a>
{% endblock %}