{% extends 'LostThingsMainBundle::layout.html.twig' %}


{% block personallayout %}
    <div id="left_side">
        {{ render(controller('LostThingsMainBundle:PrivateMessage:allCorrespondence')) }}
    </div>

    <div id="right_side">

    </div>
{% endblock %}