{% extends '::admin.html.twig' %}

{% block header %}
    {#{{ render(controller('LostThingsAdminBundle:Search:index')) }}#}
    <div id="search_form">
        <form method="GET">
            <p>
                <input type="text" name="search" id="search_input" placeholder="Поиск">
            </p>
        </form>
    </div>
{% endblock %}
{% block aside %}
    <ul>
        <li><a href="{{ path('main') }}">На главную</a></li>
        <li><a href="/admin/country/">Страны</a></li>
        <li><a href="/admin/city/">Города</a></li>
        <li><a href="/admin/area/">Районы</a></li>
        <li><a href="/admin/street/">Улицы</a></li>
        <li><a href="/admin/thing/">Объекты</a></li>
        <li><a href="/admin/message/">Сообщения</a></li>
        <li><a href="/admin/user/">Пользователи</a></li>
        <li><a href="/admin/find/">Найдено</a></li>
        <li><a href="/admin/lost/">Потеряно</a></li>
    </ul>
{% endblock %}