@font-face {
    font-family: "good_vibes";
    src: url('../fonts/Good_vibes/good_vibes_pro_regular.ttf');
    src: url('../fonts/Good_vibes/good_vibes_pro_regular.woff');
}

@font-face {
    font-family: RobotoBold
    src: url('../fonts/Roboto/RobotoBold.ttf');
    src: url('../fonts/Roboto/RobotoBold.woff');
    src: url('../fonts/Roboto/RobotoBold.eot');
}

@font-face {
    font-family: RobotoThin;
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
    src: url('../fonts/Roboto/Roboto-Thin.woff');
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display: block;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    line-height: 1.2;
    background: url("../images/bg.png") repeat;
    font-family: RobotoBold, sans-serif;
}

input, textarea, button{
    outline: none;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}


header{
    width: 100%;
    padding: 20px;
    background: linear-gradient(180deg, rgba( 45,151,203, .7) 40%,  rgba(  5,104,152, .5) 61%);
    font-weight: bold;
    font-size: 100%;
    color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .35);
    margin: 0 0 30px 0;
}

header a{
    text-decoration: none;
    color: #FFFFFF;
}

header a:hover{
    color: #FFDB2C;
}


header #find_lost_panel li{
    color: #FFFFFF;
    float: left;
    margin: 0 0 0 20px;
}


header #log_in{
    float: right;
}

main{
    padding: 20px;
}


main #left_side{
    height: 100%;
    float: left;
    width: 20%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
}

main #left_side #bg_all_correspondence,
main #right_side #personal_info{
    height: 450px;
    background-color: rgba(255, 255, 255, .5);
}

main #left_side h3{
    background: linear-gradient(180deg, rgba( 45,151,203, .7) 40%,  rgba(  5,104,152, .5) 61%);
    padding: 19px 10px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 110%;
    color: #FFFFFF;
}

main #left_side a{
    display: inline-block;
    padding: 10px;
    border-bottom: 1px dashed #FFFFFF;
    background-color: #FFD300;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 130%;
}

main #left_side a:hover{
    display: inline-block;
    padding: 10px;
    border-bottom: 1px dashed #FFFFFF;
    background-color: #FFDB2C;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 130%;
}



main #right_side{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
    float: right;
    width: 20%;
}

main #right_side h3{
    font-size: 110%;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba( 45,151,203, .7) 40%,  rgba(  5,104,152, .5) 61%);
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    padding: 19px 10px;
    text-align: center;
}


main #center{
    padding: 0 20px 0 20px;
    float: left;
    width: 60%;
}

main #center h1{
    text-align: center;
    font-size: 200%;
    /*margin: 0 0 20px 0;*/
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba( 45,151,203, .7) 40%,  rgba(  5,104,152, .5) 61%);
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    margin: 0;
}

main #center .lost_things,
main #center .find_things{
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .35);
}


main #center .lost_things_things,
main #center .find_things_things{
    padding: 20px;
    background-color: rgba(255, 255, 255, .5);
    margin: 0 0 30px 0;
}

main #center .find_things_things p{
    padding: 3px;
}

main #center .lost_things img,
main #center .find_things img{
    border: 2px ridge #025E7C;
}




main #center img, main #results_search img{
    width: 205px;
    height: 145px;
    float: left;
    margin: 0 10px 5px 0;
}


main .correspondence #all_messages{
    width: 70%;
    height: 350px;
    resize: none;
    overflow: auto;
    margin: 0 0 10px 0;
}


main .correspondence .send_message_input, .send_message_input{
    width: 70%;
    height: 50px;
    font-size: 130%;
    padding: 5px;
}

main .correspondence input[type='text']{
    width: 70%;
    font-size: 120%;
}

main #results_search{
    width: 60%;
    padding: 0 20px 20px 20px;
}

main .search_box{
    height: 200px;
}

main #center .count_matches_lost span{
    color: blue;
    cursor: pointer;
}

main #center .refresh_lost, main #center .refresh_find{
    margin: -50px 0 0 0;
}

main .send_user_pm span{
    color: blue;
    cursor: pointer;
}

main .control_block{
    float: right;
    width: 10%;
    margin: 30px 10px 0 0;
}

main .control_block li{
    padding: 10px 0 0 0;
}

main .lost_block, main .find_block{
    float: left;
    width: 100%;
    margin: 0 0 40px 0;
    border-bottom: 1px dashed #07A0D2;
}

main .lost_block_info, main .find_block_info{
    float: left;
    width: 85%;
    color: #2f2f2f;
    margin: 0 0 20px 0;
}

main .lost_block_info span,
main .find_block_info span,
main .lost_block_info p:nth-child(7),
main .find_block_info p:nth-child(7){
    font-weight: bold;
    color: #025E7C;
}

main .lost_block_info p{
    padding-bottom: 6px;
}


main #center .count_matches_lost span,
main #center .count_matches_find span{
    font-weight: normal;
}

.popup_message{
    height: 70%;
}

.answer_input{
    width: 100%;
    height: 50px;
}


.send_textarea{
    width: 100%;
    height: 270px;
    margin: 0 0 10px 0;
}


:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow:none;
}


.button{
    cursor: pointer;
}

.button_link{
    border: none;
    background-color: #FFD300;
    cursor: pointer;
    padding: 5px;
    width: 85px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 100%;
}

.button_link:hover{
    background-color: #FFE35C;
}

.delete_find, .delete_lost{
    background-color: #F2004D;
}

.delete_find:hover, .delete_lost:hover{
    background-color: #F4588A;
}



.clear{
    clear: both;
}

.separator{
    height: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    header{
        font-size: 110%;
    }

    main #left_side h3{
        background: linear-gradient(180deg, rgba( 45,151,203, .7) 40%,  rgba(  5,104,152, .5) 61%);
        padding: 16px 10px;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
        text-align: center;
        font-size: 130%;
        color: #FFFFFF;
    }

    main #right_side h3{
        font-size: 130%;
        color: #FFFFFF;
        background: linear-gradient(180deg, rgba( 45,151,203, .7) 40%,  rgba(  5,104,152, .5) 61%);
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
        padding: 17px 10px;
        text-align: center;
    }
}

@media screen and (-o-min-device-pixel-ratio) {

    header{
        font-size: 110%;
    }

    main #left_side h3{
        background: linear-gradient(180deg, rgba( 45,151,203, .7) 40%,  rgba(  5,104,152, .5) 61%);
        padding: 15px 10px;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
        text-align: center;
        font-size: 130%;
        color: #FFFFFF;
    }

    main #right_side h3{
        font-size: 130%;
        color: #FFFFFF;
        background: linear-gradient(180deg, rgba( 45,151,203, .7) 40%,  rgba(  5,104,152, .5) 61%);
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
        padding: 15px 10px;
        text-align: center;
    }
}
