:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow:none;
}

#dialog {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, .5);
    padding: 50px;
}