html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body img{

}


header{
    width: 100%;
    min-width: 1000px;
    padding: 20px;
}

header #find_lost_panel{
    float: left;
}

header #log_in{
    float: right;
}

main{
    padding: 20px;
}


main #personal_area h1{
    text-align: center;
    font-size: 200%;
    margin: 0 0 20px 0;
}


main #personal_area img, main #results_search img{
    width: 150px;
    float: left;
    margin: 0 10px 10px 0;
}

main #personal_area .button_link, main #personal_area .button_link{
    float: right;
    margin: -20px 0 0 0;
    border: none;
    background-color: #fff;
    cursor: pointer;
    color: #000fff;
    padding: 0;
}

main #personal_area .count_matches_lost span{
    color: blue;
    cursor: pointer;
}

main #personal_area .refresh_lost, main #personal_area .refresh_find{
    margin: -50px 0 0 0;
}

:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow:none;
}

.clear{
    clear: both;
}
