<div id="search_form">
    <form action="/admin/{{ entity }}" method="GET">
        <p>
            <input type="text" name="search" id="search_input" placeholder="Поиск">
        </p>
    </form>
</div>