<ul>
    {% for all in all_correspondence %}
        <li>
            <a href="/personal-area/correspondence/{{ all.receivedUserId }}">{{ all.receivedUsername }}</a>
        </li>
    {% endfor %}
</ul>