<ul class="all_correspondence">
    {% if unique_user_correspondence is defined %}
        {% for key, value in unique_user_correspondence %}
                <li>
                    <a href="/personal-area/correspondence/{{ value }}">{{ value }}</a>
                </li>
        {% endfor %}
    {% endif %}
</ul>