{% for all_message in all_messages %}
    <p>
        <span>[{{ all_message.createdAt|date('d-m-Y H:i:s') }}]</span> <span>{{ all_message.username }}:</span> {{ all_message.message }}
    </p>
    <br>
{% endfor %}
