{% extends 'LostThingsMainBundle:personal-area:layout.html.twig' %}

{% block body %}
    <div class="correspondence">
        <div id="all_message">
            {% for all_message in all_messages %}
                <p>
                    {{ all_message.username }}:{{ all_message.message }}
                </p>
                <br>
            {% endfor %}
        </div>

        <form action="/personal-area/correspondence/{{ received_user_id }}" method="POST">
            <p>
                <textarea class="send_message_input message" name="message" required="required"></textarea>
            </p>
            <p>
                <button type="submit" id="send_correspondence" value="{{ received_user_id }}">Отправить</button>
            </p>
        </form>
    </div>
{% endblock %}
