{% extends 'LostThingsMainBundle::layout.html.twig' %}


{% block body %}
    <div class="correspondence">
        <div id="all_messages">
            {{ render(controller('LostThingsMainBundle:PrivateMessage:allMessages')) }}
        </div>
        <form action="/personal-area/save-correspondence/" method="POST">
            <p>
                <textarea class="send_message_input message" name="message" required="required"></textarea>
            </p>
            <p>
                <button type="submit" id="send_correspondence" name="send_correspondence" value="{{ received_user_id }}">Отправить</button>
            </p>
        </form>
    </div>
{% endblock %}